<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
   
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Daily Expense</title>
  <style>
.header{
display: flex;
padding:10px;
background-color: #eaf0f6;
width:100%;
justify-content: space-around;
align-items: center;
}

.nav li{

margin:10px;

}
.nav li a{
color: black;
padding: 10px;
}
.nav li a:hover{
background-color:black;
color: whitesmoke;
border-radius: 5px;
text-decoration: none;;
}
body{
          background-color: #eaf0f6;
      }

  </style>



</head>
<body>
<!-- header -->
<div class="header">

  <h1 style="color:black;position: relative;right: auto;font-size: 25px;">Daily Expenses </h1>



          <!-- top-nav -->
          <ul class="nav">
            <li><a href="/UserHome">Home</a></li>
            <li><a href="/SetLimit">SetLimit</a></li>
            <li><a href="/Search" >Expenses</a></li>
            <li><a href="/UReport">Report</a></li>
             <li><a href="/MonthReport">MonthReport</a></li>
  
             <li><a href="/">Logout</a></li>
          </ul>
  
  
</div>

<br>
<br>
<blockquote class="blockquote text-center">
</blockquote>
<br>

<br>
<!-- header -->
<!-- banner -->


</div>
<!-- //banner -->
<h3 class="title"> Report!</h3>
<div class="card">
  <div class="card-body">
<div class="about all_pad">
	<div class="container">
		

		 <form id="form1" name="form1" method="post" action="/userinfo">
	 <table width="100%" border="0" align="center">
              <tr>

          <td><div align="center" class="style5"><strong>id</strong></div></td>
          <td><div align="center" class="style5"><strong>UserName</strong></div></td>
          <td><div align="center" class="style5"><strong>Type</strong></div></td>
          <td><div align="center" class="style5"><strong>Date</strong></div></td>
          <td><div align="center" class="style5"><strong>Amount</strong></div></td>
				  <td><div align="center" class="style5"><strong>Info</strong></div></td>
				  <td><div align="center" class="style5"><strong>File</strong></div></td>



              </tr>
			  {% for item in data %}
              <tr class="hi">
                  <td><div align="center">{{item[0]}}</div></td>
                <td><div align="center">{{item[1]}}</div></td>

                <td><div align="center">{{item[2]}}</div></td>
                <td><div align="center">{{item[3]}}</div></td>
                <td><div align="center">{{item[4]}}</div></td>
				    <td><div align="center">{{item[5]}}</div></td>
				    <td><div align="center"><img src="static/upload/{{item[6]}}" width="70" height="70"></div></td>



              </tr>
			  {% endfor %}

            </table>



</form>

	</div>
</div>

</div>
</div>




</body>
</html>